<div>
    <main>
        <section>
            <h1>
                <div>{{category}}. {{name}}.</div>
                <small class="text-body-secondary">{{description}}. {{price}}$.</small>
            </h1>

            <div class="card" >
                <h2 class="text-center">Features</h2>

                {{#with features}}
                    <div class="text-center">{{operating_system}}, {{weight}}</div>
                    
                    <div class='row g-2'>
                        <div class="col-4">
                            {{>mac titleSize=h3 titleName="Processor" topPage=processor}}
                            {{>mac titleSize=h3 titleName="Memory" topPage=memory}}
                            {{>mac titleSize=h3 titleName="Storage" topPage=storage}}
                        </div>

                        <div class="col-4">
                            {{>mac titleSize=h3 titleName="Display" topPage=display}}
                            {{>mac titleSize=h3 titleName="Graphics" topPage=graphics}}
                             <div class="card mb-2 p-2">                        
                                {{>title h2 data="Ports"}}   
                                {{#each ports}}
                                    <li>
                                        <div><strong>type - </strong>{{type}}</div>
                                        <div><strong>count - </strong>{{count}}</div>
                                        {{#if features}}<strong>features - </strong>{{features}}{{/if}}
                                    </li>
                                {{/each}}
                            </div>
                        </div>

                        <div class="col-4">
                            {{>mac titleSize=h3 titleName="Battery" topPage=battery}}
                            {{>mac titleSize=h3 titleName="Dimensions" topPage=dimensions}}

                            <div class="card mb-2 p-2">                        
                                {{>title h2 data="Accessories"}}   
                                {{#each accessories}}
                                    <li>
                                        {{name}}. {{price}}$.
                                    </li>
                                {{/each}}
                            </div>
                        </div>
                    </div> 
                {{/with}}
            </div>
    </main>
</div>