<div>
    <main>
        <section>
            <h1>
                {{category}}. {{name}}.<br>
                <small class="text-body-secondary">{{description}}. {{price}}$.</small>
            </h1>
            <hr>

            <div class="border" >
                {{>title h2 data="Features"}}      
                {{#with features}}
                    <li>{{operating_system}}</li>
                    <li>{{weight}}</li><br>

                    {{>mac titleSize=h3 titleName="Processor" topPage=processor}}<br>
                    {{>mac titleSize=h3 titleName="Memory" topPage=memory}}<br>
                    {{>mac titleSize=h3 titleName="Storage" topPage=storage}}<br>
                    {{>mac titleSize=h3 titleName="Display" topPage=display}}<br>
                    {{>mac titleSize=h3 titleName="Graphics" topPage=graphics}}<br>

                    <ul>                        
                        {{>title h2 data="Ports"}}   
                        {{#each ports}}
                            <li>
                                <strong>type - </strong>{{type}}
                                <br>
                                <strong>count - </strong>{{count}}
                                <br>
                                {{#if features}}<strong>features - </strong>{{features}}{{/if}}
                            </li>
                            <br>
                        {{/each}}
                    </ul>
                    
                    {{>mac titleSize=h3 titleName="Battery" topPage=battery}}<br>
                    {{>mac titleSize=h3 titleName="Dimensions" topPage=dimensions}}<br>

                    <ul>                        
                        {{>title h2 data="Accessories"}}   
                        {{#each accessories}}
                            <li>
                                {{name}}. {{price}}$.
                            </li>
                            <br>
                        {{/each}}
                    </ul>
                {{/with}}
            </div>
    </main>
</div>