<div>
    {{#with person}}
    <main>
        <section>
            <div class="m-5">
                {{> title data="Education" big=true}}
                <ul>
                    {{#each education}}
                    <li>
                        <div>
                            <b>{{university}}</b>
                        </div>
                        
                        <div>
                            <em>Degree: {{degree}}. Major: {{major}}. {{graduationYear}}.</em>
                        </div>                        
                    </li>
                    {{/each}}
                </ul>
                <hr>
            </div>

            <div class="m-5">
                {{> title data="Work Experience" big=true}}
                <ul>
                    {{#each workExperience}}
                    <li>
                        {{> title data=title big=false}}
                        <div class="mt-3 mb-3">
                            <h3>{{company}}. {{industry}} industry. Founded in {{year_founded}}.</h3>
                        </div>
                        <div>({{startDate}}) - ({{endDate}})</div>
                        
                        <div class="mt-3 mb-3">
                            <h4>Responsibilities:</h4>
                        </div>
                        
                        <ul>
                            {{#each responsibilities}}
                            <li>
                                <div>{{this}}</div>
                            </li>
                            {{/each}}
                        </ul>
                        
                        <div class="mt-3 mb-3">
                            <h4>Employees:</h4>
                        </div>
                        
                        <ul>
                            {{#each employees}}
                            <li>
                                <div><b>{{name}}. {{position}} of {{department}} department.</b></div>                             
                                {{#each projects}}{{> project}}{{/each}}
                            </li>
                            
                            {{/each}}
                        </ul>
                    </li>
                    {{/each}}
                </ul>
                
                <hr>
            </div>
        </section>
    </main>
    {{/with}}
</div>