<div>
	<main>
		<section class='row g-2 mt-5 mb-5'>
			{{#with newsBlock}}
				<h3 class='text-center'>{{title}}</h3>
				{{#each cards}}
					<div class='col-3'>
						<div class='card text-bg-secondary'>
							<div class='card-header'>
								{{title}}
								{{#if isNew}}<span class='badge rounded-pill bg-success'>New</span>{{/if}}
								{{#if isTop}}<span class='badge rounded-pill bg-danger'>Top</span>{{/if}}
							</div>
							<div class='card-body'>
								<p>{{description}}</p>
							</div>
						</div>
					</div>
				{{/each}}
			{{/with}}
		</section>
		<hr>

		<section class='row g-2 mt-5 mb-5'>
			{{#with goodsBlock}}
				<div class='nav nav-tabs'>
					{{#each tabs}}
						<div class='nav-item'>								
							{{#if isActive}}
								<a class="nav-link active" aria-current="page"><b>{{text}}</b></a>
							{{else}}
								{{#if isDisabled}}
									<a class="nav-link px-1 disabled">{{text}}</a>
								{{else}}
									<a class="nav-link px-1">{{text}}</a>
								{{/if}}
							{{/if}}														
						</div>
					{{/each}}
				</div>
				{{>shopcard}}
			{{/with}}
		</section>
		<hr>

		<section class='mt-5 mb-5'>
			<div class='card text-white bg-secondary'>
				<div class='card-body p-2'>
				{{#with subscribe}}   
					<h2 class="mb-3">{{header}}</h2>                              
					<p class="my-2">{{description}}</p>
					{{#each buttons}}
						<div class="col-12 pt-2">
							<a type="button" class="btn btn-primary" href={{link}}>{{text}}</a>
						</div>						
					{{/each}}
				{{/with}}
				</div>
			</div>			
		</section>
		<hr>

		{{>shopaction}}
	</main>
</div>