<div>
    <main class="p-2">
        <h1 class="text-center">{{page_header.title}}</h1>
        <p class="text-uppercase text-center mb-5">{{page_header.description}}</p>
        {{#with section}}
            <div class="card mb-4"> 
                <div class="card-body">                 
                    {{#with about_us}}
                        <h6 class="display-6 text-end mb-4">{{title_list.main}}</h6>
                        <h2 class="text-end mb-4">{{title_list.sub}}</h2>
                        <button type="button" class="btn btn-outline-info mb-4">{{button.text}}</button>
                    {{/with}}           
                </div>
            </div>
            {{#with advantage}}
                <div class="card mb-4"> 
                    <div class="card-body">                             
                        <h5 class="display-5 pb-3">{{title}}</h5>                                
                        <div class="card mb-4"> 
                            <div class="card-body"> 
                                {{#with efficiency}}
                                    <h4 class="display-4 mb-4">{{title}}</h4>                                         
                                    <h6 class="mb-4">{{sub_title}}</h6>
                                    <p class="mb-4">{{description}}</p>
                                    <button type="button" class="btn btn-outline-warning">{{button}}</button>
                                {{/with}}                                        
                            </div>
                        </div>
                        <div class="card mb-4"> 
                            <div class="card-body"> 
                                {{#with innovation}}
                                    <h4 class="display-4 text-center mb-4">{{title}}</h4>                                         
                                    <h6 class="text-center mb-4">{{sub_title}}</h6>
                                    <p class="text-center mb-4">{{description}}</p>
                                    <button type="button" class="btn btn-outline-warning">{{button}}</button>
                                {{/with}}                                        
                            </div>
                        </div> 
                        <div class="card mb-4"> 
                            <div class="card-body"> 
                                {{#with collaboration}}
                                    <h4 class="display-4 text-end mb-4">{{title}}</h4>                                        
                                    <h6 class="text-end mb-4">{{sub_title}}</h6>
                                    <p class="text-end mb-4">{{description}}</p>
                                    <button type="button" class="btn btn-outline-warning">{{button}}</button>
                                {{/with}}                                        
                            </div>
                        </div> 
                    </div>
                </div>
            {{/with}}
            
            {{#with agreement}}
                <div class="card"> 
                    <div class="card-body">                             
                        <h5 class="display-5 mb-4">{{title}}</h5>                               
                        <div class="card"> 
                            <div class="card-body">
                                {{#with info}}                                        
                                    <h5 class="mb-4">{{sub_title}}</h5>                                   
                                    <div class="card"> 
                                        <div class="card-body">
                                            <p class="mb-4">{{detail.text}}</p>
                                            <button type="button" class="btn btn-success">{{detail.button}}</button>
                                        </div>
                                    </div>
                                {{/with}}                                        
                            </div>
                        </div>
                    </div>
                </div>
            {{/with}}            
        {{/with}}                                    
    </main>
</div>