<div>
    {{#with main}}
    <main>
        <section>
            {{> title data="Work history" big=true}}
            <div>
                <ul>
                    {{#each works}}
                    <li>
                        <div class="col-10 mt-5 mb-3">{{position}}</div>
                        
                        <div class="mb-3">
                            {{duration.from}}-
                            {{#if duration.to}}
                            {{duration.to}}
                            {{else}}
                            (до цього часу)
                            {{/if}}
                        </div>
                        <div class="mb-3">
                            {{#if company.url}}
                                {{> link text=company.name href=company.url blank=true noLine=true}}
                            {{else}}
                                <b>{{company.name}}</b>
                            {{/if}}
                        </div>
                        <div class="mb-3">
                            <strong>Projects ({{projectAmount}})</strong>

                            <ul>
                                {{#each projects}}
                                <li>
                                    <div class="mb-3">{{> link text=name href=url blank=true noLine=true}}</div>
                                    <div class="mb-3"><p>{{about}}</p></div>

                                    <div class="mb-3">
                                        <em>Project stacks ({{stackAmount}})</em>
                                        <ul>
                                        {{#each stacks}}
                                            <li><div class="mb-3">{{name}}</div></li>
                                        {{/each}}</ul>
                                    </div>
                                    
                                    <div class="mb-3">
                                        <em>Project awards ({{awardAmount}})</em>
                                        <ul>
                                        {{#each awards}}
                                            <li><div class="mb-3">{{name}}</div></li>
                                        {{/each}}</ul>
                                    </div>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                    </li><hr>
                {{/each}}
                </ul>
            </div>
        </section>
    </main>
    {{/with}}
</div>