<div>
    {{#if page}}
        {{>title h3=true data=title}}
        <ul>
            {{#each page}}
                <li>                    
                    <div class="card m-2 p-2">
                        <strong>{{name}}</strong>
                        [Id: {{id}}]. 
                        {{#if gender}}
                            <i>{{gender}}. {{age}} year old. </i>
                        {{/if}}
                        {{#if description}}
                            <i>{{description}}. </i>
                        {{/if}}
                    </div>
                    
                    {{>facebook title='Friends:' page=friends}}
                    {{>facebook title='Mutual friends:'  page=mutual_friends}}
                    
                    {{>facebook title='Groups:'  page=groups}}
                    {{>facebook title='Members:'  page=members}}
                </li>
            {{/each}}
        </ul>
    {{/if}}
</div>