{{#if header}}
    <h1>{{name}}. {{date}}</h1>
{{else}}
    <cite><b>{{name}}.</b></cite>
    <br><br>
{{/if}}

{{#with location}}
    <address>
        ({{#if address}}{{address}}. {{/if}}{{city}}. {{country}}.)
    </address>
{{/with}}
<hr>