{{#if header}}
    <h1>{{name}}. {{date}}</h1>
{{else}}
    <cite class="mb-5"><b>{{name}}.</b></cite>
{{/if}}

{{#with location}}
    <address>
        ({{#if address}}{{address}}. {{/if}}{{city}}. {{country}}.)
    </address>
{{/with}}
<hr>