<div>
    <div>
        <b>{{name}}</b> - {{description}}.
    </div>

    {{#if status}}
    <div>
        Current status: {{status}}.
    </div>
    {{/if}}

    {{#if technologies}}
        Technologies: {{#each technologies}}{{this}}, {{/each}}
    {{/if}}

    <ul>
        {{#if teams}}
            {{#each teams}}
            <li>
                {{> team}}
            </li>
            {{/each}}
        {{else}}
            {{> team}}
        {{/if}}
    </ul>
</div>