<footer>
    <div class='nav'>
        {{#each footer}}
            <div class="nav-item col-2">
                {{#each this}}
                    {{#if @last}}
                        <a class='nav-link disabled' href={{link}} target="_blank">{{text}} </a>
                    {{else}}
                        <a class='nav-link' href={{link}} target="_blank">{{text}}</a>
                    {{/if}}
                {{/each}}
            </div>
        {{/each}}
    </div>
</footer>