<div>
    {{#if team_name}}
        <h4>{{team_name}}</h4>
    {{else}}
        <h4>Team Members:</h4>
    {{/if}}

    {{#if team_leader}}
        <div class="mb-3">
            {{team_leader.name}}. {{team_leader.title}}. 
            <address>{{team_leader.email}}</address>
        </div>
    {{/if}}

    <ul>
        {{#each team_members}}
        <li>
            {{name}}. {{title}}.
            {{#if skills}}
                <div class="mb-3">
                    Skills: {{#each skills}}{{this}}, {{/each}}
                </div>
            {{/if}}
            <address class="mb-3"{{email}}</address>
            <div>
            <ul>
                {{#each projects}}
                <li>
                    {{> project}}
                </li>
                {{/each}}
            </ul>
            </div>
        </li>
        {{/each}}
    </ul>
</div>