<div>
    {{#if big}}        
        <h1>{{data}}</h1>
        <hr>
    {{else}}
        {{#if h2}}        
            <h2>{{data}}</h2>
        {{else}}
            {{#if h3}}        
                <h3>{{data}}</h3>            
            {{else}}
                {{#if h4}}        
                    <h4>{{data}}</h4>                
                {{else}}       
                    <h5>{{data}}</h5>
                {{/if}}
            {{/if}}
        {{/if}}    
    {{/if}}
</div>